@charset "utf-8";
/* CSS Document */

body {
	background:#2a527a;
	font-family: Verdana, sans-serif;
}
.head {
	width:880px;
	margin:auto;
	background-color: #eeeeee;
	background: #eeeeee -webkit-linear-gradient(#cbcbcb 0%, #eeeeee 100%);
	padding:10px;
	margin-top:100px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #dedede;
}
.main {
	width:880px;
	margin:auto;
	background-color:#FFF;
	padding:10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.head2 {
	width:480px;
	margin:auto;
	background-color: #eeeeee;
	background: #eeeeee -webkit-linear-gradient(#cbcbcb 0%, #eeeeee 100%);
	padding:10px;
	margin-top:60px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #dedede;
}
.main2 {
	width:480px;
	margin:auto;
	background-color:#FFF;
	padding:10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.thelinks {
	text-align:center;
	font-size:20px;
}
.thelinks2 {
	text-align:center;
	font-size:15px;
	margin-top: 10px;
}
.thelinks a, .thelinks2 a {
	color:#2f569f;
	text-decoration: none;
}
.thelinks a:hover, .thelinks2 a:hover {
	text-decoration: underline;
}
.smallerlink {
	text-align: center;
}
.smallerlink a {
	font-size: 14px;
	color: #039;
}
.notice {
	color:#900;
	font-size:16px;
	text-align:center;
	margin:20px;
	font-weight:bold;
}
.em {
	background-color:#fff18d;
	border: 1px solid #c7c74b;
	margin-bottom:15px;
	padding: 10px;
}
.formness {
	padding:15px;
	border-bottom:1px solid #CCC;
}
.tb {
	height: 20px;
	width: 300px;
	border: 1px solid #CCC;
	font-size: 15px;
	padding: 4px;
	background: #fff url(../admin/images/textbox_bg.png) repeat-x;
}
#go {
	
}